body{
    position: relative;
}

.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m_logo_img{
    margin-left: 25px;
}

.m_nav_img {
    margin-right: 25px;
}

/*main*/

.m_banner {
    height: 550px;
    display: block;
}
.m_banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title { 
    font-size: 24px;
    text-align: center;
    margin: 25px 0;
    color : #515151;
    font-weight: 500;
    letter-spacing: -2px;
}
.description {
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 52px;
    color : #515151;
    letter-spacing: -1px;
}

/*모바일 사이드바*/


.sidebar.active{
    width: 100%;
    height: 100%;
}
.sidebar_box{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 70px 35px 0;
}
.sidebar_btn_box{
    display: flex;
    justify-content: space-between;
}

.reser_btn{
    font-size: 24px;
    padding: 40px 0 50px;
    color: #515151;
}

.sidebar_menu li a{
    color: #515151;
    display: block;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    margin-top: 20px;
}
.sidebar_menu li a::after{
    content: "";
    position: absolute;
    left: -8px; 
    bottom: 0; 
    width: calc(100% + 20px); /* a보다 양쪽으로 8px씩 더 길게 */
    height: 1px;
    background-color: #E4E4E4;
    cursor: none;
}
.sidebar_menu li a.menu{
    color: #515151;
    font-size: 20px;
}

.sidebar_menu .sub_menu li{
    margin: 10px 0 ;
    cursor: pointer;
}

.sidebar_menu .sub_menu li:hover{
    color: #E40177;
}
.logo_box {
    display: flex;
    margin-top: 40px;
}
.logo_box li{
    margin-right: 35px;
}