.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m_logo_img{
    margin-left: 25px;
}

.m_nav_img {
    margin-right: 25px;
}

/*main*/

.m_banner {
    height: 550px;
    display: block;
}
.m_banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
