.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m_logo_img{
    margin-left: 25px;
}

.m_nav_img {
    margin-right: 25px;
}

/*main*/

.m_banner {
    height: 550px;
    display: block;
}
.m_banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title { 
    font-size: 24px;
    text-align: center;
    margin: 25px 0;
    color : #515151;
    font-weight: 500;
    letter-spacing: -2px;
}
.description {
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 52px;
    color : #515151;
    letter-spacing: -1px;
}